body{
    background-color: green;
    margin: 20px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: hotpink;
    position: fixed;
    top: 0%;
    width: 100%;
    right: 0;
    left: o;
    top: 0;
    height: 50px;
    padding-top: 15px;padding-bottom: 15px;
    text-align: center

}

#aside1{
    background-color: gold;
    padding-bottom: 34%;
    padding-top: 20px;
    width: 80%;
    display:inline-block;
    vertical-align: top;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 80%;
    border-left-style: solid;
}

main{
    background-color: gray;
    width: 78%;
    display: inline-block;
    border-left-style: solid;
    padding-left: 1%;
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 40px;
    border-left-style: solid;

}

footer{
    background-color: lightseagreen;
    position:absolute;
    bottom: 0;
    right: 0;
    left: 22%;
    height: 40px;
    border-top: solid;
    padding: auto;
    text-align: center;
    padding-top: 10px;
    border-left-style: solid;
}

#aside2{
    background-color: gold;
    padding-bottom: 40%;
    padding-top: 20px;
    width: 100%;
    display:inline-block;
    vertical-align: top;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 60%;
    bottom: 60%;
    overflow: auto;
    border-left-style: solid;
}

*{
    margin: 0;
    box-sizing: border-box;
}