ul{
    padding: 0;
    list-style: none;
    
}
ul ul{
    display: none;
    position: relative;
    left: 110px;
    
}

ul>li{
    background-color: blue;
    width: 100px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: chocolate;
    list-style: none;
}

li:hover > ul{
    display: block;
}

ul>li>ul>li{
    border: none;
    background-color: unset;
}