* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100vh;
    align-content: flex-start;
}

footer{
    display: block;
}

header{
    height: 50px;
}

nav{
    height: 60px;
    padding: 8.5px;
    justify-content: space-around;
    display: flex;
}

header, nav, aside, main, footer{
    padding: 15px;
    border: 1px solid black;
    flex-basis: 100%;
 }

 nav > a{
     padding: 5px;
     background-color: gold;
     border-radius: 3px;
     border-style: solid;
     width: 100px;
     text-align: center;
     align-items: center;
     text-decoration: none;
     color: red;
     border-style: solid;
     flex-basis: 15px;
     height: 35px;
     transition-duration: 1s;
     transition-property:color ; flex-basis: ;
     transition-timing-function: ease;
     
     

 }

 nav > a:hover{
     background-color: black;
     color: blue;
     transform: rotateZ(360deg);

 }
 aside{
     flex-basis: 70px;
     padding: 5px;
     flex-grow: 0;
     min-height: calc(100vh - 50px - 40px - 50px);
     text-align: center;
 }

 aside > h1 {
     text-align: start;
 }

 main{
     flex-basis: 70%;
     flex-grow: 1;
     overflow: auto;
 }

 aside > a > img {
     width: 100%;
 }

 aside > a > span {
     font-size: 0.7em;
 }

 hr{
     margin-top: 5px;

@media (min-width: 700px){
    aside > a {
        display: flex;
        align-items: center,
        justify-content: space-around,
        min-height: calc(100vh - 50px - 40px - 50px);
    }
    aside{
        flex-basis: 130px,
    }

    footer{
        display: block,
    }
}