*{
    margin: 0;
    box-sizing: border-box;
}

/* Versión para móvil */

header{
    height: 40px;
    background-color: lawngreen;
}

nav{
    background-color: lightcoral;
    height: 30px;
}

nav > a {
    display: inline-block;
    width: 20%;
    height: 90%;
    margin-left: 15px;
}

nav > a > img {
    height: 80%;
}

nav > a > p{
    display: none;
}

footer{
    display: none;
}

main{
    background-color: khaki;
    min-height: calc(100vh - 100px);
}

main > section{
    margin: 5px;
    background-color: lightskyblue;
    height: 300px;
}


aside{
    background-color: lavender;
    min-height: 40px;
    bottom: 0;
    position: fixed;
    width: 100%;
}


/* Versión para tablet */

@media (min-width: 480px){
    
}
@media (min-width: 800px){
    header{
        width: 100%;
        height: 50px;
    }
    nav, aside, main{
        top: 50px;
        min-height: calc(100vh - 100px);
        position: absolute;
    }
    aside{
        left: 0;
        width: 20%;
    }
    nav{
        right: 0;
        width: 20%;
    }
    main{
        left: 20%;
        width: 60%;
    }
    footer{
        display: block;
        position: absolute;
        bottom: 0;
        height: 50px;
    }

}

